/* styles.css */
.card {
    transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    transition: transform 0.3s ease-in-out;
  }
  
  /* .card img:hover {
    transform: scale(1.05);
  } */
  